---
layout: default
---

<nav id="view-all">
  <a href="/">&laquo; Home</a>
</nav>

<article id="post">
  <div id="post-title"><h1><a href="{{ page.url }}">{{ page.title }}</a></h1></div>
  {{ content }}
</article>

<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="paulosman">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<div id="disqus">
  <div id="disqus_thread"></div>
</div>

<script type="text/javascript">
    var disqus_shortname = 'paulosman';

    (function() {
        var dsq = document.createElement('script'); 
        dsq.type = 'text/javascript'; 
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

